table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
td{
    border: 1px solid #ddd;
  padding: 8px;
}
thead{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
h1{
    width: 80%;
    margin: auto;
}