<h1>register Here</h1>
<div style="margin:20px ;">
    <form (ngSubmit)="handleSubmit()" [formGroup]="registerForm">
        <input name="name" type="text" formControlName="name" placeholder="name" autocomplete="off"><br>
       
        <span>Role</span>
          <label>
            <input type="radio" formControlName="role" value="student"> Student
          </label>
          <label>
            <input type="radio" formControlName="role" value="teacher"> Teacher
          </label><br>
          <span>Interested Game</span>
          <label>
            <input type="radio" formControlName="plays" value="football">Football
          </label>
          <label>
            <input type="radio" formControlName="plays" value="cricket">Cricket
          </label>
          <label>
            <input type="radio" formControlName="plays" value="both">Both
          </label>
          <br>
          <button [disabled]="!registerForm.valid">Submit</button>
      </form>
     
    </div>
    